In [20]:
import pandas as pd
import string

tweet_id - int - index \
username - string\
text - string\
created_at - datetime\
location - string\
source - string\
url - string

text - split each sentence into individual words, without whitespace, puncutation, all lowercase.\
Each value of text is a list ['i', 'like', 'coffee']\
create word frequency dictionary ^

In [2]:
tw_mitaka = pd.read_csv("8_5_tw_mitaka.csv")

In [17]:
tw_mitaka['created_at'] = pd.to_datetime(tw_mitaka['created_at'])

In [18]:
tw_mitaka.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    1059 non-null   int64
 1   username    1059 non-null   object
 2   text        1059 non-null   object
 3   created_at  1059 non-null   datetime64[ns, UTC]
 4   location    698 non-null    object
 5   source      1059 non-null   object
 6   url         1059 non-null   object
dtypes: datetime64[ns, UTC](1), int64(1), object(5)
memory usage: 58.0+ KB

In [19]:
tw_mitaka.head()

,tweet_id,username,text,created_at,location,source,url
0,1553777739773186048,Vulpeqxla,i need to draw mitaka again soon or else i wil...,2022-07-31 16:20:55+00:00,they/them ‚ô•,Twitter for iPhone,https://twitter.com/Vulpeqxla/status/155377773...
1,1553776451186458625,aokisotaa,finally decided to check out the denji edit ta...,2022-07-31 16:15:48+00:00,"19, they/she",Twitter for Android,https://twitter.com/aokisotaa/status/155377645...
2,1553775430276194304,retromanjapan,The Showa Retro In https://t.co/H3BK93ITy6 #wo...,2022-07-31 16:11:44+00:00,"Tokyo, Japan",Revive Social App,https://twitter.com/retromanjapan/status/15537...
3,1553773879650394115,nymphahri,Asa Mitaka ‚õìÔ∏è\nShould I make the actual cospla...,2022-07-31 16:05:35+00:00,Italia,Twitter for Android,https://twitter.com/nymphahri/status/155377387...
4,1553756835047690240,moonrcin,mitaka best girl \n\n#„ÉÅ„Çß„É≥„ÇΩ„Éº„Éû„É≥ #chainsawman htt...,2022-07-31 14:57:51+00:00,üáµüá≠,Twitter for iPhone,https://twitter.com/moonrcin/status/1553756835...

In [71]:
tw_mitaka_cpy = tw_mitaka.copy()

In [73]:
#Stop words are included 
for i in range(len(tw_mitaka_cpy['text'])):
    words = tw_mitaka_cpy['text'][i].lower().split()
    words = [''.join(letter for letter in word if letter not in (string.punctuation)) for word in words]
    tw_mitaka_cpy['text'][i] = words

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tw_mitaka_cpy['text'][i] = words

In [74]:
#Stop words are omitted.

stop_words = ['a','an','and','are','as','be','by','by',	'for','from','has','he','in','is','it','its',
	'of','on','that','the',	'to','was',	'were','will','with','have','am', 'my', 'i', 'this', 'you', 'what', 
    'but', 'or', 'do', 'can']

for i in range(len(tw_mitaka['text'])):
    tweet_text = []
    words = tw_mitaka['text'][i].lower().split()
    words = [''.join(letter for letter in word if letter not in (string.punctuation)) for word in words]
    for word in words:
        if word not in stop_words:
            tweet_text.append(word)
    tw_mitaka['text'][i] = tweet_text

#Need to remove "http..." at end of some tweets.
#Emotes and other languages other than English should be removed too. REGREX

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tw_mitaka['text'][i] = tweet_text

In [79]:
tw_mitaka_cpy['text'].iloc[5]

['üì∑',
 '‚òÖ',
 '„Äêyolanda„Äë',
 '„Äå',
 'Êà¶‰∫âÊÇ™È≠î',
 '„Äç',
 '‚òÜ',
 '‚ä≥',
 'mitaka',
 '',
 'chainsaw',
 'man',
 '‚úî',
 'republished',
 'wpermission',
 '‚ä≥',
 '‚ä≥',
 'follow',
 'me',
 'on',
 'instagram',
 'httpstcowe7yalr633']