In [438]:
import requests
import json
import pandas as pd
import tweepy

In [439]:
with open(r'C:\Users\roast\Desktop\twitter_keys.txt', 'r') as file:
    tokens = file.readlines()
API_KEY = tokens[0]
API_SECRET = tokens[1]
ACCESS_KEY = tokens[2]
ACCESS_SECRET = tokens[3]
bearer = tokens[4]

In [440]:
auth = tweepy.OAuthHandler(API_KEY, API_SECRET)
auth.set_access_token(ACCESS_KEY, ACCESS_SECRET)
client = tweepy.Client(bearer_token = bearer)

In [462]:
# Query word mitaka & #mitaka
query1 = '(#mitaka OR mitaka) -is:retweet -is:quote -is:reply lang:en -from:retromanjapan'
tweets1 = client.search_recent_tweets(query=query1, max_results = 100,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])

In [464]:
# Putting into dataframe
tw_users1 = {tw_user['id']: tw_user for tw_user in tweets1.includes['users']}
mitaka_df = pd.DataFrame()

for tweet in tweets1.data:
    if tw_users1[tweet.author_id]:
        tw_user = tw_users1[tweet.author_id]
    temp_dict = {
        'tweet_id': [tweet.id],
        'username': [tw_user.username],
        'text': [tweet.text],
        'created_at': [tweet.created_at],
        'location': [tw_user.location],
        'source': [tweet.source],
        'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
    }
    temp_df = pd.DataFrame(temp_dict)
    mitaka_df = pd.concat([temp_df, mitaka_df])

mitaka_df.shape
mitaka_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1554517205223604224,Prince6Ivy,Mitaka is already an S tier character,2022-08-02 17:19:17+00:00,he/him 17 bi,Twitter for iPhone,https://twitter.com/Prince6Ivy/status/15545172...
0,1554517644518100992,heedowlw,"mitaka and yoru's duo, im gonna get so attache...",2022-08-02 17:21:02+00:00,she they filo,Twitter for Android,https://twitter.com/heedowlw/status/1554517644...
0,1554518127010095104,DropIntoManga,Just played with a Riichi City player whose Di...,2022-08-02 17:22:57+00:00,New York,Twitter Web App,https://twitter.com/DropIntoManga/status/15545...
0,1554518499816800256,stsgou,omfg AAAAAAAAA what keeps me going is knowing ...,2022-08-02 17:24:26+00:00,None,Twitter for Android,https://twitter.com/stsgou/status/155451849981...
0,1554518949261221888,heedowlw,mitaka probably wont even notice that she'll b...,2022-08-02 17:26:13+00:00,she they filo,Twitter for Android,https://twitter.com/heedowlw/status/1554518949...

In [454]:
# Query word asa mitaka
query2 = '(asamitaka OR "asa mitaka" OR #asamitaka) -is:retweet -is:quote -is:reply lang:en'
tweets2 = client.search_recent_tweets(query=query2, max_results = 100,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])

In [455]:
tw_users2 = {tw_user['id']: tw_user for tw_user in tweets2.includes['users']}
asamitaka_df = pd.DataFrame()

for tweet in tweets2.data:
    if tw_users2[tweet.author_id]:
        tw_user = tw_users2[tweet.author_id]
    temp_dict = {
        'tweet_id': [tweet.id],
        'username': [tw_user.username],
        'text': [tweet.text],
        'created_at': [tweet.created_at],
        'location': [tw_user.location],
        'source': [tweet.source],
        'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
    }
    temp_df = pd.DataFrame(temp_dict)
    asamitaka_df = pd.concat([temp_df, asamitaka_df])

asamitaka_df.shape
asamitaka_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1553694407093735424,hanileii,can‚Äôt wait to cosplay asa mitaka( ¬¥ ‚ñΩ ` ),2022-07-31 10:49:47+00:00,None,Twitter for iPhone,https://twitter.com/hanileii/status/1553694407...
0,1553758595657117697,ahinrama,I love her already \n\n#„ÉÅ„Çß„É≥„ÇΩ„Éº„Éû„É≥\n#asamitaka ht...,2022-07-31 15:04:51+00:00,mostly genshin/csm/jjk,Twitter for iPad,https://twitter.com/ahinrama/status/1553758595...
0,1553773879650394115,nymphahri,Asa Mitaka ‚õìÔ∏è\nShould I make the actual cospla...,2022-07-31 16:05:35+00:00,Italia,Twitter for Android,https://twitter.com/nymphahri/status/155377387...
0,1553789795947741184,virtudroid,my fyp on tiktok has never been worse than day...,2022-07-31 17:08:50+00:00,Aüñ§üñ§üñ§üñ§üñ§,Twitter for iPhone,https://twitter.com/virtudroid/status/15537897...
0,1553799138751422464,spittinglass,she‚Äôs so cool thank u fujimoto &lt;3 #chainsaw...,2022-07-31 17:45:57+00:00,"he/they/it, problematicville",Twitter for iPhone,https://twitter.com/spittinglass/status/155379...

In [456]:
# Query word mitaka asa
query3 = '(mitakaasa OR "mitaka asa" OR #mitakaasa) -is:retweet -is:quote -is:reply lang:en'
tweets3 = client.search_recent_tweets(query=query3, max_results = 100,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])

In [457]:
tw_users3 = {tw_user['id']: tw_user for tw_user in tweets3.includes['users']}
mitakaasa_df = pd.DataFrame()

for tweet in tweets3.data:
    if tw_users3[tweet.author_id]:
        tw_user = tw_users3[tweet.author_id]
    temp_dict = {
        'tweet_id': [tweet.id],
        'username': [tw_user.username],
        'text': [tweet.text],
        'created_at': [tweet.created_at],
        'location': [tw_user.location],
        'source': [tweet.source],
        'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
    }
    temp_df = pd.DataFrame(temp_dict)
    mitakaasa_df = pd.concat([temp_df, mitakaasa_df])

mitakaasa_df.shape
mitakaasa_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1552502966833127424,Izumicos3,"Just you wait, Chainsaw Manüêî #asamitaka #chain...",2022-07-28 03:55:26+00:00,STAY s·¥õ.,Twitter for Android,https://twitter.com/Izumicos3/status/155250296...
0,1552638584867282944,dnbooru,World\n#chainsaw_man\nCharacters\n#mitaka_asa\...,2022-07-28 12:54:19+00:00,Tokyo,Danbooru Bot,https://twitter.com/dnbooru/status/15526385848...
0,1552680420377931777,mewnbyul,can the five people who ship hirofumi yoshida ...,2022-07-28 15:40:34+00:00,"Davao City, Davao Region",Twitter for iPad,https://twitter.com/mewnbyul/status/1552680420...
0,1552699157621510144,enamehaver,"// eye strain , eyestrain\n\nASA MITAKA | War ...",2022-07-28 16:55:01+00:00,17 ;; he/she/they + ce/ae/it,Twitter for iPhone,https://twitter.com/enamehaver/status/15526991...
0,1552772147948445697,dnbooru,World\n#chainsaw_man\nCharacters\n#mitaka_asa\...,2022-07-28 21:45:03+00:00,Tokyo,Danbooru Bot,https://twitter.com/dnbooru/status/15527721479...

In [459]:
# Query word war devil
query4 = '(wardevil OR "war devil" OR #wardevil) -is:retweet -is:quote -is:reply lang:en'
tweets4 = client.search_recent_tweets(query=query4, max_results = 100,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])

In [460]:
tw_users4 = {tw_user['id']: tw_user for tw_user in tweets4.includes['users']}
wardevil_df = pd.DataFrame()

for tweet in tweets4.data:
    if tw_users4[tweet.author_id]:
        tw_user = tw_users4[tweet.author_id]
    temp_dict = {
        'tweet_id': [tweet.id],
        'username': [tw_user.username],
        'text': [tweet.text],
        'created_at': [tweet.created_at],
        'location': [tw_user.location],
        'source': [tweet.source],
        'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
    }
    temp_df = pd.DataFrame(temp_dict)
    wardevil_df = pd.concat([temp_df, wardevil_df])

wardevil_df.shape
wardevil_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1554618677701423104,AxiVaughn,There is so much to talk about in Chapter 101 ...,2022-08-03 00:02:30+00:00,None,Twitter Web App,https://twitter.com/AxiVaughn/status/155461867...
0,1554619207828078592,heshankolitha1,Few variation of Asa Mitaka. Which one do you ...,2022-08-03 00:04:37+00:00,Sri Lanka,Twitter Web App,https://twitter.com/heshankolitha1/status/1554...
0,1554621358998519808,arthickmonkeys,the war devil. \n\n#„ÉÅ„Çß„É≥„ÇΩ„Éº„Éû„É≥ #chainsawmanfanart...,2022-08-03 00:13:10+00:00,None,Twitter for iPhone,https://twitter.com/arthickmonkeys/status/1554...
0,1554622569344794624,hyegumi,mitaka should always be scared so the war devi...,2022-08-03 00:17:58+00:00,she/her,Twitter for Android,https://twitter.com/hyegumi/status/15546225693...
0,1554623086644936704,ScreenRantComic,Chapter 100 of Chainsaw Man portrays the War D...,2022-08-03 00:20:02+00:00,None,Buffer,https://twitter.com/ScreenRantComic/status/155...

In [465]:
# merged and final dataframe
frames = [mitaka_df, asamitaka_df, mitakaasa_df, wardevil_df]
tw_mitaka_df = pd.concat(frames)
tw_mitaka_df.head()

#tw_mitaka_df = tw_mitaka_df[~tw_mitaka_df.index.duplicated(keep='first')] #Removing dup indices later

,tweet_id,username,text,created_at,location,source,url
0,1554517205223604224,Prince6Ivy,Mitaka is already an S tier character,2022-08-02 17:19:17+00:00,he/him 17 bi,Twitter for iPhone,https://twitter.com/Prince6Ivy/status/15545172...
0,1554517644518100992,heedowlw,"mitaka and yoru's duo, im gonna get so attache...",2022-08-02 17:21:02+00:00,she they filo,Twitter for Android,https://twitter.com/heedowlw/status/1554517644...
0,1554518127010095104,DropIntoManga,Just played with a Riichi City player whose Di...,2022-08-02 17:22:57+00:00,New York,Twitter Web App,https://twitter.com/DropIntoManga/status/15545...
0,1554518499816800256,stsgou,omfg AAAAAAAAA what keeps me going is knowing ...,2022-08-02 17:24:26+00:00,None,Twitter for Android,https://twitter.com/stsgou/status/155451849981...
0,1554518949261221888,heedowlw,mitaka probably wont even notice that she'll b...,2022-08-02 17:26:13+00:00,she they filo,Twitter for Android,https://twitter.com/heedowlw/status/1554518949...

In [466]:
tw_mitaka_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 308 entries, 0 to 0
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    308 non-null    int64
 1   username    308 non-null    object
 2   text        308 non-null    object
 3   created_at  308 non-null    datetime64[ns, UTC]
 4   location    220 non-null    object
 5   source      308 non-null    object
 6   url         308 non-null    object
dtypes: datetime64[ns, UTC](1), int64(1), object(5)
memory usage: 19.2+ KB

In [467]:
tw_mitaka_df.to_csv('tw_mitaka.csv', index=False)