In [3]:
import requests
import json
import pandas as pd
import tweepy

In [4]:
with open(r'C:\Users\roast\Desktop\twitter_keys.txt', 'r') as file:
    tokens = file.readlines()
API_KEY = tokens[0]
API_SECRET = tokens[1]
ACCESS_KEY = tokens[2]
ACCESS_SECRET = tokens[3]
bearer = tokens[4]

In [5]:
auth = tweepy.OAuthHandler(API_KEY, API_SECRET)
auth.set_access_token(ACCESS_KEY, ACCESS_SECRET)
client = tweepy.Client(bearer_token = bearer)

In [95]:
def df_response(res):
    tw_users1 = {tw_user['id']: tw_user for tw_user in res.includes['users']}
    df = pd.DataFrame()

    for tweet in res.data:
        if tw_users1[tweet.author_id]:
            tw_user = tw_users1[tweet.author_id]
        temp_dict = {
            'tweet_id': [tweet.id],
            'username': [tw_user.username],
            'text': [tweet.text],
            'created_at': [tweet.created_at],
            'location': [tw_user.location],
            'source': [tweet.source],
            'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
        }
        temp_df = pd.DataFrame(temp_dict)
        df = pd.concat([temp_df, df])

    return df

In [112]:
#Creating loop for word: mitaka
mitaka_df = pd.DataFrame()
query1 = '(#mitaka OR mitaka) -is:retweet -is:quote -is:reply lang:en'
last_tw_id = 1555697979629006848 #8/5/22 7:55pm EST

for i in range(4):
    tweets1 = client.search_recent_tweets(query=query1, max_results = 100, until_id = last_tw_id, 
                                        user_fields = ['username', 'location'],
                                        tweet_fields=['created_at', 'source'],
                                        expansions = ['author_id'])
    temp_df = df_response(tweets1).sort_values(['created_at'], ascending=False)
    last_tw_id = temp_df.iloc[len(temp_df)-1]['tweet_id']
    
    mitaka_df = pd.concat([temp_df, mitaka_df])

In [86]:
mitaka_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1553777739773186048,Vulpeqxla,i need to draw mitaka again soon or else i wil...,2022-07-31 16:20:55+00:00,they/them ‚ô•,Twitter for iPhone,https://twitter.com/Vulpeqxla/status/155377773...
0,1553776451186458625,aokisotaa,finally decided to check out the denji edit ta...,2022-07-31 16:15:48+00:00,"19, they/she",Twitter for Android,https://twitter.com/aokisotaa/status/155377645...
0,1553775430276194304,retromanjapan,The Showa Retro In https://t.co/H3BK93ITy6 #wo...,2022-07-31 16:11:44+00:00,"Tokyo, Japan",Revive Social App,https://twitter.com/retromanjapan/status/15537...
0,1553773879650394115,nymphahri,Asa Mitaka ‚õìÔ∏è\nShould I make the actual cospla...,2022-07-31 16:05:35+00:00,Italia,Twitter for Android,https://twitter.com/nymphahri/status/155377387...
0,1553756835047690240,moonrcin,mitaka best girl \n\n#„ÉÅ„Çß„É≥„ÇΩ„Éº„Éû„É≥ #chainsawman htt...,2022-07-31 14:57:51+00:00,üáµüá≠,Twitter for iPhone,https://twitter.com/moonrcin/status/1553756835...

In [ ]:
#Creating loop for word: asa mitaka
asamitaka_df = pd.DataFrame()
query2 = '(asamitaka OR "asa mitaka" OR #asamitaka) -is:retweet -is:quote -is:reply lang:en'
last_tw_id = 1555667256524169216

for i in range(4):
    tweets2 = client.search_recent_tweets(query=query2, max_results = 100, until_id = last_tw_id,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])
    temp_df = df_response(tweets2).sort_values(['created_at'], ascending=False)
    last_tw_id = temp_df.iloc[len(temp_df)-1]['tweet_id']
        
    asamitaka_df = pd.concat([temp_df, asamitaka_df])

In [56]:
asamitaka_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1555671453357510659,dudurukun,My first fanart/redraw of #asamitaka from #cha...,2022-08-05 21:45:52+00:00,None,Twitter for iPhone,https://twitter.com/dudurukun/status/155567145...
0,1555667256524169216,o_ocaelo,War devil from chainsaw man pt 2 üòá \n#chainsaw...,2022-08-05 21:29:11+00:00,None,Twitter for iPhone,https://twitter.com/o_ocaelo/status/1555667256...
0,1555619223484915712,junointhestars,her design is so cool! Happy #chainsawman trai...,2022-08-05 18:18:19+00:00,any pronouns,Twitter for Android,https://twitter.com/junointhestars/status/1555...
0,1555608572922368007,TuskGoblin,Asa Mitaka - Chainsaw Man\n\nA little drawing ...,2022-08-05 17:36:00+00:00,None,Twitter Web App,https://twitter.com/TuskGoblin/status/15556085...
0,1555600190727303168,KaibanZero,"Just you wait, #chainsawman \nSo stoked for th...",2022-08-05 17:02:41+00:00,"Los Angeles, CA",Twitter for Android,https://twitter.com/KaibanZero/status/15556001...

In [57]:
#Creating loop for word: mitaka asa
mitakaasa_df = pd.DataFrame()
query3 = '(mitakaasa OR "mitaka asa" OR #mitakaasa) -is:retweet -is:quote -is:reply lang:en'
last_tw_id = 1555670538278047744

for i in range(1):
    tweets3 = client.search_recent_tweets(query=query3, max_results = 10, until_id = last_tw_id,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])
    temp_df = df_response(tweets3).sort_values(['created_at'], ascending=False)
    last_tw_id = temp_df.iloc[len(temp_df)-1]['tweet_id']
        
    mitakaasa_df = pd.concat([temp_df, mitakaasa_df])

In [58]:
mitakaasa_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1555670538278047744,NightcoreR45,Makima or Mitaka asaü©∏\n‚ù§Ô∏èWatch my video Chains...,2022-08-05 21:42:13+00:00,None,Twitter for Android,https://twitter.com/NightcoreR45/status/155567...
0,1555552823143710721,gojotoji,"mitaka asa seems so cool, I need to read csm pt2",2022-08-05 13:54:28+00:00,she/they 25,Twitter for iPhone,https://twitter.com/gojotoji/status/1555552823...
0,1555515203839983616,Kshatriya_666_,Mitaka using Yusuke Murata's style\n.\n.\n#cha...,2022-08-05 11:24:59+00:00,Indonesia,Twitter for Android,https://twitter.com/Kshatriya_666_/status/1555...
0,1555430172043939841,Skullse1,"""wanna be my boyfriend?""\n\n#mitaka_asa\n#chai...",2022-08-05 05:47:06+00:00,None,Twitter for Android,https://twitter.com/Skullse1/status/1555430172...
0,1555241643611406336,Skullse1,"WIP\n\n""What weapon will I be?""\n#mitaka_asa \...",2022-08-04 17:17:57+00:00,None,Twitter for Android,https://twitter.com/Skullse1/status/1555241643...

In [59]:
#Creating loop for word: war devil
wardevil_df = pd.DataFrame()
query4 = '(wardevil OR "war devil" OR #wardevil) -is:retweet -is:quote -is:reply lang:en'
last_tw_id = 1555702289012228097

for i in range(1):
    tweets4 = client.search_recent_tweets(query=query4, max_results = 10, until_id = last_tw_id,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])
    temp_df = df_response(tweets4).sort_values(['created_at'], ascending=False)
    last_tw_id = temp_df.iloc[len(temp_df)-1]['tweet_id']
        
    wardevil_df = pd.concat([temp_df, wardevil_df])

In [60]:
wardevil_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1555702289012228097,rifuzas,to me the only things scarier than a War Devil...,2022-08-05 23:48:23+00:00,None,Twitter Web App,https://twitter.com/rifuzas/status/15557022890...
0,1555700938760982529,soupntoast,i‚Äôm going back to anime pfp bruh war devil too...,2022-08-05 23:43:01+00:00,21 . she/her,Twitter for iPhone,https://twitter.com/soupntoast/status/15557009...
0,1555690977259667456,fami70_o,A wip of war devil or... Yoru??? https://t.co/...,2022-08-05 23:03:26+00:00,Brazil,Twitter for Android,https://twitter.com/fami70_o/status/1555690977...
0,1555684243031728128,Krypto406,"Fuck my life, I haven't seen any war devil merch.",2022-08-05 22:36:41+00:00,New Jersey,Twitter for Android,https://twitter.com/Krypto406/status/155568424...
0,1555682562529443841,hellkat__,drawpile ft. @LABS107 + War Devil https://t.co...,2022-08-05 22:30:00+00:00,21 y/o,Twitter Web App,https://twitter.com/hellkat__/status/155568256...

In [61]:
# merged and final dataframe
frames = [mitaka_df, asamitaka_df, mitakaasa_df, wardevil_df]
tw_mitaka_df = pd.concat(frames)
tw_mitaka_df.head()

#tw_mitaka_df = tw_mitaka_df[~tw_mitaka_df.index.duplicated(keep='first')] #Removing dup indices later

,tweet_id,username,text,created_at,location,source,url
0,1555697979629006848,_supermasenko,another mitaka üëπ https://t.co/YnZ6wFMzOI,2022-08-05 23:31:16+00:00,21,Twitter for iPhone,https://twitter.com/_supermasenko/status/15556...
0,1555692842089152512,retromanjapan,The Showa Retro In #MITAKA #Tokyo #21: Explori...,2022-08-05 23:10:51+00:00,"Tokyo, Japan",Revive Social App,https://twitter.com/retromanjapan/status/15556...
0,1555670538278047744,NightcoreR45,Makima or Mitaka asaü©∏\n‚ù§Ô∏èWatch my video Chains...,2022-08-05 21:42:13+00:00,None,Twitter for Android,https://twitter.com/NightcoreR45/status/155567...
0,1555660661258354688,vioylaite,pusing gue art mitaka cakep cakep,2022-08-05 21:02:59+00:00,anirant - ic: fei,Twitter for Android,https://twitter.com/vioylaite/status/155566066...
0,1555655937079201792,SassyGayHux,Kylo Ren spared Mitaka - big yikes.,2022-08-05 20:44:12+00:00,None,"Cheap Bots, Done Quick!",https://twitter.com/SassyGayHux/status/1555655...

In [63]:
tw_mitaka_df.nunique()

tweet_id      37
username      34
text          37
created_at    37
location      21
source         7
url           37
dtype: int64

In [62]:
tw_mitaka_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 0
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    40 non-null     int64
 1   username    40 non-null     object
 2   text        40 non-null     object
 3   created_at  40 non-null     datetime64[ns, UTC]
 4   location    23 non-null     object
 5   source      40 non-null     object
 6   url         40 non-null     object
dtypes: datetime64[ns, UTC](1), int64(1), object(5)
memory usage: 2.5+ KB

In [64]:
tw_mitaka_df.to_csv('tw_mitaka.csv', index=False)