In [2]:
import requests
import json
import pandas as pd
import tweepy

In [3]:
with open(r'C:\Users\roast\Desktop\twitter_keys.txt', 'r') as file:
    tokens = file.readlines()
API_KEY = tokens[0]
API_SECRET = tokens[1]
ACCESS_KEY = tokens[2]
ACCESS_SECRET = tokens[3]
bearer = tokens[4]

In [4]:
auth = tweepy.OAuthHandler(API_KEY, API_SECRET)
auth.set_access_token(ACCESS_KEY, ACCESS_SECRET)
client = tweepy.Client(bearer_token = bearer)

In [5]:
def df_response(res):
    tw_users1 = {tw_user['id']: tw_user for tw_user in res.includes['users']}
    df = pd.DataFrame()

    for tweet in res.data:
        if tw_users1[tweet.author_id]:
            tw_user = tw_users1[tweet.author_id]
        temp_dict = {
            'tweet_id': [tweet.id],
            'username': [tw_user.username],
            'text': [tweet.text],
            'created_at': [tweet.created_at],
            'location': [tw_user.location],
            'source': [tweet.source],
            'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
        }
        temp_df = pd.DataFrame(temp_dict)
        df = pd.concat([temp_df, df])

    return df

In [6]:
mitaka_df = pd.DataFrame()
query1 = '(#mitaka OR mitaka) -is:retweet -is:quote -is:reply lang:en'
last_tw_id = None

In [ ]:
#Creating loop for word: mitaka
mitaka_df = pd.DataFrame()
query1 = '(#mitaka OR mitaka) -is:retweet -is:quote -is:reply lang:en'
last_tw_id = None

while mitaka_df.empty:
    try:
        for i in reversed(range(1,11)):
            tweets1 = client.search_recent_tweets(query=query1, max_results = 100, until_id = last_tw_id, 
                                                user_fields = ['username', 'location'],
                                                tweet_fields=['created_at', 'source'],
                                                expansions = ['author_id'])
            temp_df = df_response(tweets1).sort_values(['created_at'], ascending=False)

            last_tw_id = temp_df.iloc[len(temp_df)-1]['tweet_id']
            
            mitaka_df = pd.concat([temp_df, mitaka_df])
    except KeyError:
        pass

In [10]:
mitaka_df.nunique()

tweet_id      355
username      262
text          344
created_at    352
location      183
source         16
url           355
dtype: int64

In [11]:
mitaka_df.sort_values(['created_at'], ascending=False).iloc[0] #Most Recent Tweet

tweet_id                                    1556310010753208321
username                                          kamadohamtaro
text          Asa mitaka means seeing dawn.....sorry bad jap...
created_at                            2022-08-07 16:03:16+00:00
location                                                    21+
source                                      Twitter for Android
url           https://twitter.com/kamadohamtaro/status/15563...
Name: 0, dtype: object

In [15]:
mitaka_df.sort_values(['created_at'], ascending=False).iloc[len(mitaka_df)-1] #Last tweet queried by API allowable

tweet_id                                    1553787466410332161
username                                                 aecamn
text            I love seeing mitaka pfps in the wild on tiktok
created_at                            2022-07-31 16:59:34+00:00
location                                           20 | she/her
source                                       Twitter for iPhone
url           https://twitter.com/aecamn/status/155378746641...
Name: 0, dtype: object

In [13]:
mitaka_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1554430568087130115,Kejranaros,asa mitaka (war devil) edit // the perfect gir...,2022-08-02 11:35:02+00:00,None,Coub,https://twitter.com/Kejranaros/status/15544305...
0,1554428314210766849,ArcadaFox,Every week I go through the cycle of ‚Äúoh I lov...,2022-08-02 11:26:04+00:00,"Georgia, USA",Twitter for iPhone,https://twitter.com/ArcadaFox/status/155442831...
0,1554417416427667457,ultramarynna,mitaka tuesday hooray https://t.co/uKvNTnZOA8,2022-08-02 10:42:46+00:00,Yanni ¬∑ she/her 25‚Üë,Twitter Web App,https://twitter.com/ultramarynna/status/155441...
0,1554406601821388800,rainyxink,is there a ship tag for mitaka and war I feel ...,2022-08-02 09:59:48+00:00,aroace - 23 - rey,Twitter for iPhone,https://twitter.com/rainyxink/status/155440660...
0,1554405676239278080,Sn1ke__,"Asa Mitaka, The war devil\nFirst Fan art \n#ch...",2022-08-02 09:56:07+00:00,In my house,Twitter for Android,https://twitter.com/Sn1ke__/status/15544056762...

In [19]:
#Creating loop for word: asa mitaka
asamitaka_df = pd.DataFrame()
query2 = '(asamitaka OR "asa mitaka" OR #asamitaka) -is:retweet -is:quote -is:reply lang:en'
last_tw_id = None

while asamitaka_df.empty:
    try:
        for i in reversed(range(1,11)):
            tweets2 = client.search_recent_tweets(query=query2, max_results = 100, until_id = last_tw_id,
                                            user_fields = ['username', 'location'],
                                            tweet_fields=['created_at', 'source'],
                                            expansions = ['author_id'])
            temp_df = df_response(tweets2).sort_values(['created_at'], ascending=False)
            last_tw_id = temp_df.iloc[len(temp_df)-1]['tweet_id']
                
            asamitaka_df = pd.concat([temp_df, asamitaka_df])
    except KeyError:
        pass

In [20]:
asamitaka_df.shape

(147, 7)

In [21]:
asamitaka_df.sort_values(['created_at'], ascending=False).iloc[0]

tweet_id                                    1556310010753208321
username                                          kamadohamtaro
text          Asa mitaka means seeing dawn.....sorry bad jap...
created_at                            2022-08-07 16:03:16+00:00
location                                                    21+
source                                      Twitter for Android
url           https://twitter.com/kamadohamtaro/status/15563...
Name: 0, dtype: object

In [22]:
#Last tweet queried by API allowable
asamitaka_df.sort_values(['created_at'], ascending=False).iloc[len(asamitaka_df)-1]

tweet_id                                    1553789795947741184
username                                             virtudroid
text          my fyp on tiktok has never been worse than day...
created_at                            2022-07-31 17:08:50+00:00
location                                                 Aüñ§üñ§üñ§üñ§üñ§
source                                       Twitter for iPhone
url           https://twitter.com/virtudroid/status/15537897...
Name: 0, dtype: object

In [23]:
asamitaka_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1554543223409893378,Rod_anderis,The Best Online Manga Courses\nüëá\nhttps://t.co...,2022-08-02 19:02:41+00:00,None,Twitter for Android,https://twitter.com/Rod_anderis/status/1554543...
0,1554540646249160704,paintsawman,We're back with our very first Chainsaw Man Pa...,2022-08-02 18:52:26+00:00,None,Twitter Web App,https://twitter.com/paintsawman/status/1554540...
0,1554540098149961728,byakkomarru,just you wait chainsaw man. ü™öüßçüèº\n\n#chainsawma...,2022-08-02 18:50:16+00:00,taqi she/her 22,Twitter for iPhone,https://twitter.com/byakkomarru/status/1554540...
0,1554528996603400195,BlueTempest_,Streaming the new #ChainsawMan chapter TONIGHT...,2022-08-02 18:06:09+00:00,None,Twitter for iPhone,https://twitter.com/BlueTempest_/status/155452...
0,1554518499816800256,stsgou,omfg AAAAAAAAA what keeps me going is knowing ...,2022-08-02 17:24:26+00:00,None,Twitter for Android,https://twitter.com/stsgou/status/155451849981...

In [24]:
#Creating loop for word: mitaka asa
mitakaasa_df = pd.DataFrame()
query3 = '(mitakaasa OR "mitaka asa" OR #mitakaasa) -is:retweet -is:quote -is:reply lang:en'
last_tw_id = None

while mitakaasa_df.empty:
    try:
        for i in reversed(range(1,11)):
            tweets3 = client.search_recent_tweets(query=query3, max_results = 100, until_id = last_tw_id,
                                            user_fields = ['username', 'location'],
                                            tweet_fields=['created_at', 'source'],
                                            expansions = ['author_id'])
            temp_df = df_response(tweets3).sort_values(['created_at'], ascending=False)
            last_tw_id = temp_df.iloc[len(temp_df)-1]['tweet_id']
                
            mitakaasa_df = pd.concat([temp_df, mitakaasa_df])
    except KeyError:
        pass

In [25]:
mitakaasa_df.shape

(15, 7)

In [26]:
mitakaasa_df.sort_values(['created_at'], ascending=False).iloc[0]

tweet_id                                    1556054576364539904
username                                                lalayri
text          I LOOK SM LIKE MITAKA ASA (AND WAR DEVIL TO AN...
created_at                            2022-08-06 23:08:15+00:00
location                                                   None
source                                      Twitter for Android
url           https://twitter.com/lalayri/status/15560545763...
Name: 0, dtype: object

In [27]:
#Last tweet queried by API allowable
mitakaasa_df.sort_values(['created_at'], ascending=False).iloc[len(mitakaasa_df)-1]

tweet_id                                    1553829138124967936
username                                                dnbooru
text          World\n#chainsaw_man\nCharacter\n#mitaka_asa\n...
created_at                            2022-07-31 19:45:09+00:00
location                                                  Tokyo
source                                             Danbooru Bot
url           https://twitter.com/dnbooru/status/15538291381...
Name: 0, dtype: object

In [28]:
mitakaasa_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1556054576364539904,lalayri,I LOOK SM LIKE MITAKA ASA (AND WAR DEVIL TO AN...,2022-08-06 23:08:15+00:00,None,Twitter for Android,https://twitter.com/lalayri/status/15560545763...
0,1555983203319554048,mitakaeveryday,anything for her \n#mitaka #mitakaasa #mitaka_...,2022-08-06 18:24:39+00:00,None,Twitter for iPhone,https://twitter.com/mitakaeveryday/status/1555...
0,1555842171219365888,Kaisu09,chainsawman messy sketch by me\n\n#chainsawman...,2022-08-06 09:04:14+00:00,None,Twitter Web App,https://twitter.com/Kaisu09/status/15558421712...
0,1555832308821020673,Mizyaya23,Soon!!\n#CSM #mitaka_asa https://t.co/vTbpajVjLP,2022-08-06 08:25:03+00:00,None,Twitter for Android,https://twitter.com/Mizyaya23/status/155583230...
0,1555670538278047744,NightcoreR45,Makima or Mitaka asaü©∏\n‚ù§Ô∏èWatch my video Chains...,2022-08-05 21:42:13+00:00,None,Twitter for Android,https://twitter.com/NightcoreR45/status/155567...

In [29]:
#Creating loop for word: war devil
wardevil_df = pd.DataFrame()
query4 = '(wardevil OR "war devil" OR #wardevil) -is:retweet -is:quote -is:reply lang:en'
last_tw_id = 1555714802068201473

while wardevil_df.empty:
    try:
        for i in reversed(range(1,11)):
            tweets4 = client.search_recent_tweets(query=query4, max_results = 100, until_id = last_tw_id,
                                            user_fields = ['username', 'location'],
                                            tweet_fields=['created_at', 'source'],
                                            expansions = ['author_id'])
            temp_df = df_response(tweets4).sort_values(['created_at'], ascending=False)
            last_tw_id = temp_df.iloc[len(temp_df)-1]['tweet_id']
                
            wardevil_df = pd.concat([temp_df, wardevil_df])
    except KeyError:
        pass

In [30]:
wardevil_df.shape

(462, 7)

In [31]:
wardevil_df.sort_values(['created_at'], ascending=False).iloc[0]

tweet_id                                    1555702289012228097
username                                                rifuzas
text          to me the only things scarier than a War Devil...
created_at                            2022-08-05 23:48:23+00:00
location                                                   None
source                                          Twitter Web App
url           https://twitter.com/rifuzas/status/15557022890...
Name: 0, dtype: object

In [33]:
#Last tweet queried by API allowable
wardevil_df.sort_values(['created_at'], ascending=False).iloc[len(wardevil_df)-1]

tweet_id                                    1553799138751422464
username                                           spittinglass
text          she‚Äôs so cool thank u fujimoto &lt;3 #chainsaw...
created_at                            2022-07-31 17:45:57+00:00
location                           he/they/it, problematicville
source                                       Twitter for iPhone
url           https://twitter.com/spittinglass/status/155379...
Name: 0, dtype: object

In [34]:
wardevil_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1554430568087130115,Kejranaros,asa mitaka (war devil) edit // the perfect gir...,2022-08-02 11:35:02+00:00,None,Coub,https://twitter.com/Kejranaros/status/15544305...
0,1554405676239278080,Sn1ke__,"Asa Mitaka, The war devil\nFirst Fan art \n#ch...",2022-08-02 09:56:07+00:00,In my house,Twitter for Android,https://twitter.com/Sn1ke__/status/15544056762...
0,1554377172114034688,loveabyssal,My name is War Devil! Die for my warm-up kill!,2022-08-02 08:02:51+00:00,ic: mazamuno ‚Üí qt count: 49,"Cheap Bots, Done Quick!",https://twitter.com/loveabyssal/status/1554377...
0,1554376462089822208,Curecos_COT,‚ú®Cosplay News‚ú® \n'Â∏ÖÂò§Âò§' shows off her #wardevil...,2022-08-02 08:00:02+00:00,"Tokyo, Japan",Twitter Web App,https://twitter.com/Curecos_COT/status/1554376...
0,1554370967652237314,chaimsawman,denji when he meets the war devil https://t.c...,2022-08-02 07:38:12+00:00,21‚Üë she/her ‚Ä¢ no minors! ü§∫,Twitter for iPhone,https://twitter.com/chaimsawman/status/1554370...

In [35]:
# merged and final dataframe
frames = [mitaka_df, asamitaka_df, mitakaasa_df, wardevil_df]
tw_mitaka_df = pd.concat(frames)
tw_mitaka_df.head()

#tw_mitaka_df = tw_mitaka_df[~tw_mitaka_df.index.duplicated(keep='first')] #Removing dup indices later

,tweet_id,username,text,created_at,location,source,url
0,1554430568087130115,Kejranaros,asa mitaka (war devil) edit // the perfect gir...,2022-08-02 11:35:02+00:00,None,Coub,https://twitter.com/Kejranaros/status/15544305...
0,1554428314210766849,ArcadaFox,Every week I go through the cycle of ‚Äúoh I lov...,2022-08-02 11:26:04+00:00,"Georgia, USA",Twitter for iPhone,https://twitter.com/ArcadaFox/status/155442831...
0,1554417416427667457,ultramarynna,mitaka tuesday hooray https://t.co/uKvNTnZOA8,2022-08-02 10:42:46+00:00,Yanni ¬∑ she/her 25‚Üë,Twitter Web App,https://twitter.com/ultramarynna/status/155441...
0,1554406601821388800,rainyxink,is there a ship tag for mitaka and war I feel ...,2022-08-02 09:59:48+00:00,aroace - 23 - rey,Twitter for iPhone,https://twitter.com/rainyxink/status/155440660...
0,1554405676239278080,Sn1ke__,"Asa Mitaka, The war devil\nFirst Fan art \n#ch...",2022-08-02 09:56:07+00:00,In my house,Twitter for Android,https://twitter.com/Sn1ke__/status/15544056762...

In [36]:
tw_mitaka_df.nunique()

tweet_id      795
username      642
text          778
created_at    791
location      394
source         19
url           795
dtype: int64

In [37]:
tw_mitaka_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 979 entries, 0 to 0
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    979 non-null    int64
 1   username    979 non-null    object
 2   text        979 non-null    object
 3   created_at  979 non-null    datetime64[ns, UTC]
 4   location    675 non-null    object
 5   source      979 non-null    object
 6   url         979 non-null    object
dtypes: datetime64[ns, UTC](1), int64(1), object(5)
memory usage: 61.2+ KB

In [38]:
tw_mitaka_df.to_csv('tw_mitaka.csv', index=False)

Since I can only query from the past 7 days, need to do more queries in future to get more datapoints.\
Would like to get at least 100k datapoints. 

8/5 Update: 846 unique tweets from 7/29 - 8/5\
8/12 Update: ### unique tweets from 8/5 - 8/12