In [28]:
import requests
import json
import pandas as pd
import tweepy

In [29]:
with open(r'C:\Users\roast\Desktop\twitter_keys.txt', 'r') as file:
    tokens = file.readlines()
API_KEY = tokens[0]
API_SECRET = tokens[1]
ACCESS_KEY = tokens[2]
ACCESS_SECRET = tokens[3]
bearer = tokens[4]

In [30]:
auth = tweepy.OAuthHandler(API_KEY, API_SECRET)
auth.set_access_token(ACCESS_KEY, ACCESS_SECRET)
client = tweepy.Client(bearer_token = bearer)

In [ ]:
# Query word mitaka & #mitaka
query1 = '(#mitaka OR mitaka) -is:retweet -is:quote -is:reply lang:en -from:retromanjapan'
last_tw = 1555303868027764736
tweets1 = client.search_recent_tweets(query=query1, max_results = 10, until_id = last_tw,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])

In [138]:
def df_response(res):
    tw_users1 = {tw_user['id']: tw_user for tw_user in res.includes['users']}
    df = pd.DataFrame()

    for tweet in tweets1.data:
        if tw_users1[tweet.author_id]:
            tw_user = tw_users1[tweet.author_id]
        temp_dict = {
            'tweet_id': [tweet.id],
            'username': [tw_user.username],
            'text': [tweet.text],
            'created_at': [tweet.created_at],
            'location': [tw_user.location],
            'source': [tweet.source],
            'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
        }
        temp_df = pd.DataFrame(temp_dict)
        df = pd.concat([temp_df, df])

    return df

In [139]:
#Creating loop for word: mitaka
mitaka_df = pd.DataFrame()
query1 = '(#mitaka OR mitaka) -is:retweet -is:quote -is:reply lang:en'
last_tw_id = 1554517205223604224

for i in range(2):
    tweets1 = client.search_recent_tweets(query=query1, max_results = 50, until_id = last_tw_id,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])
    temp_df = df_response(tweets1).sort_values(['created_at'], ascending=False)
    last_tw_id = temp_df.iloc[len(temp_df)-1]['tweet_id']
    
    mitaka_df = pd.concat([temp_df, mitaka_df])

In [140]:
mitaka_df.shape

(99, 7)

In [142]:
mitaka_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1553547414333562880,junxote,mitaka looks just like me https://t.co/WVQ...,2022-07-31 01:05:41+00:00,rentry byf,Twitter for iPhone,https://twitter.com/junxote/status/15535474143...
0,1553508403410046977,tbdlewds,War Devil and Asa Mitaka is going to be the be...,2022-07-30 22:30:40+00:00,None,Twitter Web App,https://twitter.com/tbdlewds/status/1553508403...
0,1553493916493795329,asamitakaslover,asa mitaka from chainsaw man is the most beaut...,2022-07-30 21:33:06+00:00,she/they,Twitter for iPhone,https://twitter.com/asamitakaslover/status/155...
0,1553480864562036738,yonnanotta,I know a lot of people have been complaining t...,2022-07-30 20:41:15+00:00,None,Twitter Web App,https://twitter.com/yonnanotta/status/15534808...
0,1553424331979505664,Coombrain2,loving all the asa mitaka/war devil selfcest o...,2022-07-30 16:56:36+00:00,None,Twitter for Android,https://twitter.com/Coombrain2/status/15534243...

In [63]:
# Query word asa mitaka
query2 = '(asamitaka OR "asa mitaka" OR #asamitaka) -is:retweet -is:quote -is:reply lang:en'
tweets2 = client.search_recent_tweets(query=query2, max_results = 10,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])

In [64]:
tw_users2 = {tw_user['id']: tw_user for tw_user in tweets2.includes['users']}
asamitaka_df = pd.DataFrame()

for tweet in tweets2.data:
    if tw_users2[tweet.author_id]:
        tw_user = tw_users2[tweet.author_id]
    temp_dict = {
        'tweet_id': [tweet.id],
        'username': [tw_user.username],
        'text': [tweet.text],
        'created_at': [tweet.created_at],
        'location': [tw_user.location],
        'source': [tweet.source],
        'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
    }
    temp_df = pd.DataFrame(temp_dict)
    asamitaka_df = pd.concat([temp_df, asamitaka_df])

asamitaka_df.shape
asamitaka_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1555233650760978439,LiIyHoshikawa,Here‚Äôs a decent picture of my Asa Mitaka cospl...,2022-08-04 16:46:11+00:00,None,Twitter for iPhone,https://twitter.com/LiIyHoshikawa/status/15552...
0,1555237869169639424,PRIMARY_WT,"Kill her and make her your weapon, Asa.\n#chai...",2022-08-04 17:02:57+00:00,None,Twitter Web App,https://twitter.com/PRIMARY_WT/status/15552378...
0,1555250113316093952,tamillart,Asa Mitaka and War Devil by Tamillart (Instagr...,2022-08-04 17:51:36+00:00,Based in Kyiv,Twitter Web App,https://twitter.com/tamillart/status/155525011...
0,1555293007611473920,mattdominicart,Asa Mitaka from Chainsaw Man! Been absolutely ...,2022-08-04 20:42:03+00:00,None,Twitter for iPad,https://twitter.com/mattdominicart/status/1555...
0,1555294376666054657,valantainsart,W a r D e v i l üëπ #„ÉÅ„Çß„É≥„ÇΩ„Éº„Éû„É≥ #Êà¶‰∫â„ÅÆÊÇ™È≠î #chainsawma...,2022-08-04 20:47:30+00:00,Barcelona,Twitter Web App,https://twitter.com/valantainsart/status/15552...

In [15]:
# Query word mitaka asa
query3 = '(mitakaasa OR "mitaka asa" OR #mitakaasa) -is:retweet -is:quote -is:reply lang:en'
tweets3 = client.search_recent_tweets(query=query3, max_results = 100,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])

In [16]:
tw_users3 = {tw_user['id']: tw_user for tw_user in tweets3.includes['users']}
mitakaasa_df = pd.DataFrame()

for tweet in tweets3.data:
    if tw_users3[tweet.author_id]:
        tw_user = tw_users3[tweet.author_id]
    temp_dict = {
        'tweet_id': [tweet.id],
        'username': [tw_user.username],
        'text': [tweet.text],
        'created_at': [tweet.created_at],
        'location': [tw_user.location],
        'source': [tweet.source],
        'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
    }
    temp_df = pd.DataFrame(temp_dict)
    mitakaasa_df = pd.concat([temp_df, mitakaasa_df])

mitakaasa_df.shape
mitakaasa_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1552772147948445697,dnbooru,World\n#chainsaw_man\nCharacters\n#mitaka_asa\...,2022-07-28 21:45:03+00:00,Tokyo,Danbooru Bot,https://twitter.com/dnbooru/status/15527721479...
0,1553049191995383808,papples_d,‚ú®Mitaka Asa‚ú®\nDay one of #otakon !!! #csm #csm...,2022-07-29 16:05:56+00:00,None,Twitter for iPhone,https://twitter.com/papples_d/status/155304919...
0,1553341180133269504,HyuhDat,I thought I would read the manga when I saw he...,2022-07-30 11:26:11+00:00,Vietnam,Twitter for iPhone,https://twitter.com/HyuhDat/status/15533411801...
0,1553410098411732992,dnbooru,World\n#chainsaw_man\nCharacters\n#mitaka_asa\...,2022-07-30 16:00:03+00:00,Tokyo,Danbooru Bot,https://twitter.com/dnbooru/status/15534100984...
0,1553599678851284992,mitakaeveryday,she's ma best girl \n#mitaka #MitakaAsa #chain...,2022-07-31 04:33:22+00:00,None,Twitter for iPhone,https://twitter.com/mitakaeveryday/status/1553...

In [17]:
# Query word war devil
query4 = '(wardevil OR "war devil" OR #wardevil) -is:retweet -is:quote -is:reply lang:en'
tweets4 = client.search_recent_tweets(query=query4, max_results = 100,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])

In [18]:
tw_users4 = {tw_user['id']: tw_user for tw_user in tweets4.includes['users']}
wardevil_df = pd.DataFrame()

for tweet in tweets4.data:
    if tw_users4[tweet.author_id]:
        tw_user = tw_users4[tweet.author_id]
    temp_dict = {
        'tweet_id': [tweet.id],
        'username': [tw_user.username],
        'text': [tweet.text],
        'created_at': [tweet.created_at],
        'location': [tw_user.location],
        'source': [tweet.source],
        'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
    }
    temp_df = pd.DataFrame(temp_dict)
    wardevil_df = pd.concat([temp_df, wardevil_df])

wardevil_df.shape
wardevil_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1554718308552740870,chambernova,"angel devil, war devil, octopus devil. i am wh...",2022-08-03 06:38:24+00:00,"SUPERNOVA, 28 (23) he/him, nd.",Twitter for Android,https://twitter.com/chambernova/status/1554718...
0,1554718501059067904,blowsamu,guys i really like yoru/war devil n i hope tha...,2022-08-03 06:39:10+00:00,None,Twitter for iPhone,https://twitter.com/blowsamu/status/1554718501...
0,1554730471661211649,LilyHorny13,"CHAINSAW MAN SPOILERS KIND OF, NOT TOO BIG THO...",2022-08-03 07:26:44+00:00,England (Unfortunately),Twitter Web App,https://twitter.com/LilyHorny13/status/1554730...
0,1554733328749969408,_riribot,i like how the war devil is cooperative now b...,2022-08-03 07:38:05+00:00,s/h ‚Ä¢ 22,Twitter for iPhone,https://twitter.com/_riribot/status/1554733328...
0,1554742605795037184,PonyTheHorse,Pochita and Yuru seem to be opposites in a lot...,2022-08-03 08:14:57+00:00,"Earth, I think?",Twitter Web App,https://twitter.com/PonyTheHorse/status/155474...

In [19]:
# merged and final dataframe
frames = [mitaka_df, asamitaka_df, mitakaasa_df, wardevil_df]
tw_mitaka_df = pd.concat(frames)
tw_mitaka_df.head()

#tw_mitaka_df = tw_mitaka_df[~tw_mitaka_df.index.duplicated(keep='first')] #Removing dup indices later

,tweet_id,username,text,created_at,location,source,url
0,1554624305484668928,hyegumi,we're seeing the bat devil again but this time...,2022-08-03 00:24:52+00:00,she/her,Twitter for Android,https://twitter.com/hyegumi/status/15546243054...
0,1554629288363786245,xGabbyNu,Asa Mitaka for ANYC?? üëÅüëÑüëÅ https://t.co/R2K5LWc7Vt,2022-08-03 00:44:40+00:00,NYC/NJ,Twitter for iPhone,https://twitter.com/xGabbyNu/status/1554629288...
0,1554637007506268161,lunartsv,a line da mitaka https://t.co/5JD3KjeD1U,2022-08-03 01:15:21+00:00,ela/dela,Twitter Web App,https://twitter.com/lunartsv/status/1554637007...
0,1554642558927650816,MatiComics64,THE WAR DEVIL \nAsa Mitaka from Chainsaw Man\n...,2022-08-03 01:37:24+00:00,"Santiago, Chile",Twitter Web App,https://twitter.com/MatiComics64/status/155464...
0,1554646765202452480,hyegumi,asa mitaka my onglydoople . . .\n\n#chainsawma...,2022-08-03 01:54:07+00:00,she/her,Twitter for Android,https://twitter.com/hyegumi/status/15546467652...

In [20]:
tw_mitaka_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309 entries, 0 to 0
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    309 non-null    int64
 1   username    309 non-null    object
 2   text        309 non-null    object
 3   created_at  309 non-null    datetime64[ns, UTC]
 4   location    217 non-null    object
 5   source      309 non-null    object
 6   url         309 non-null    object
dtypes: datetime64[ns, UTC](1), int64(1), object(5)
memory usage: 19.3+ KB

In [21]:
tw_mitaka_df.to_csv('tw_mitaka.csv', index=False)