In [418]:
import requests
import json
import pandas as pd
import tweepy

In [419]:
with open("twitter_keys.txt") as file:
    tokens = file.readlines()
API_KEY = tokens[0]
API_SECRET = tokens[1]
ACCESS_KEY = tokens[2]
ACCESS_SECRET = tokens[3]
bearer = tokens[4]

In [420]:
auth = tweepy.OAuthHandler(API_KEY, API_SECRET)
auth.set_access_token(ACCESS_KEY, ACCESS_SECRET)
client = tweepy.Client(bearer_token = bearer)

In [421]:
# Query word mitaka & #mitaka
query1 = 'mitaka OR #mitaka -is:retweet -is:quote -is:reply lang:en'
tweets1 = client.search_recent_tweets(query=query1, max_results = 100,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])

In [422]:
# Putting into dataframe
tw_users1 = {tw_user['id']: tw_user for tw_user in tweets1.includes['users']}
mitaka_df = pd.DataFrame()

for tweet in tweets1.data:
    if tw_users1[tweet.author_id]:
        tw_user = tw_users1[tweet.author_id]
    temp_dict = {
        'tweet_id': [tweet.id],
        'username': [tw_user.username],
        'text': [tweet.text],
        'created_at': [tweet.created_at],
        'location': [tw_user.location],
        'source': [tweet.source],
        'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
    }
    temp_df = pd.DataFrame(temp_dict)
    mitaka_df = pd.concat([temp_df, mitaka_df])

mitaka_df.shape
mitaka_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1554897246264729601,spreenszone,RT @anabeldraws_: Asa Mitaka\n.\n.\n.\n#Mitaka...,2022-08-03 18:29:26+00:00,ar55 eu‚îäs!her,Twitter for Android,https://twitter.com/spreenszone/status/1554897...
0,1554898907553054720,neon_sehd,RT @MatiComics64: THE WAR DEVIL \nAsa Mitaka f...,2022-08-03 18:36:02+00:00,Kobeni's car,Twitter for Android,https://twitter.com/neon_sehd/status/155489890...
0,1554900221426970625,vengelord1000,RT @ArtzAisha: Mitaka #chainsawman #csm #asami...,2022-08-03 18:41:16+00:00,None,Twitter for Android,https://twitter.com/vengelord1000/status/15549...
0,1554901199757144065,holowz,RT @dnbooru: World\n#chainsaw_man\nCharacters\...,2022-08-03 18:45:09+00:00,üåÇ,Twitter Web App,https://twitter.com/holowz/status/155490119975...
0,1554901255360765952,dopeamine_kitty,Something about Dopheld Mitaka. He just looks ...,2022-08-03 18:45:22+00:00,None,Twitter for Android,https://twitter.com/dopeamine_kitty/status/155...

In [423]:
# Query word asa mitaka
query2 = 'asamitaka OR "asa mitaka" OR #asamitaka -is:retweet -is:quote -is:reply lang:en'
tweets2 = client.search_recent_tweets(query=query2, max_results = 100,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])

In [424]:
tw_users2 = {tw_user['id']: tw_user for tw_user in tweets2.includes['users']}
asamitaka_df = pd.DataFrame()

for tweet in tweets2.data:
    if tw_users2[tweet.author_id]:
        tw_user = tw_users2[tweet.author_id]
    temp_dict = {
        'tweet_id': [tweet.id],
        'username': [tw_user.username],
        'text': [tweet.text],
        'created_at': [tweet.created_at],
        'location': [tw_user.location],
        'source': [tweet.source],
        'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
    }
    temp_df = pd.DataFrame(temp_dict)
    asamitaka_df = pd.concat([temp_df, asamitaka_df])

asamitaka_df.shape
asamitaka_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1554907139881242626,targetZR0,RT @taorotana: Yoru The War Devil\n#„ÉÅ„Çß„É≥„ÇΩ„Éº„Éû„É≥ #w...,2022-08-03 19:08:45+00:00,United States,Twitter for Android,https://twitter.com/targetZR0/status/155490713...
0,1554908289728651264,PRODBYIRENE,RT @taorotana: Yoru The War Devil\n#„ÉÅ„Çß„É≥„ÇΩ„Éº„Éû„É≥ #w...,2022-08-03 19:13:19+00:00,he/they | 19,Twitter Web App,https://twitter.com/PRODBYIRENE/status/1554908...
0,1554908317528608768,EurypedZoo,RT @taorotana: Yoru The War Devil\n#„ÉÅ„Çß„É≥„ÇΩ„Éº„Éû„É≥ #w...,2022-08-03 19:13:26+00:00,Zlebistan,Twitter Web App,https://twitter.com/EurypedZoo/status/15549083...
0,1554908325220737029,Barloten,RT @taorotana: Yoru The War Devil\n#„ÉÅ„Çß„É≥„ÇΩ„Éº„Éû„É≥ #w...,2022-08-03 19:13:28+00:00,Mexico,Twitter for Android,https://twitter.com/Barloten/status/1554908325...
0,1554908334670626819,___WarDevil,RT @taorotana: Yoru The War Devil\n#„ÉÅ„Çß„É≥„ÇΩ„Éº„Éû„É≥ #w...,2022-08-03 19:13:30+00:00,layout by @Crain1Art,Twitter for Android,https://twitter.com/___WarDevil/status/1554908...

In [425]:
# Query word mitaka asa
query3 = 'mitakaasa OR "mitaka asa" OR #mitakaasa -is:retweet -is:quote -is:reply lang:en'
tweets3 = client.search_recent_tweets(query=query3, max_results = 100,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])

In [426]:
tw_users3 = {tw_user['id']: tw_user for tw_user in tweets3.includes['users']}
mitakaasa_df = pd.DataFrame()

for tweet in tweets3.data:
    if tw_users3[tweet.author_id]:
        tw_user = tw_users3[tweet.author_id]
    temp_dict = {
        'tweet_id': [tweet.id],
        'username': [tw_user.username],
        'text': [tweet.text],
        'created_at': [tweet.created_at],
        'location': [tw_user.location],
        'source': [tweet.source],
        'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
    }
    temp_df = pd.DataFrame(temp_dict)
    mitakaasa_df = pd.concat([temp_df, mitakaasa_df])

mitakaasa_df.shape
mitakaasa_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1554138224817487873,heodahye2,RT @escapetheciity: #„ÉÅ„Çß„É≥„ÇΩ„Éº„Éû„É≥ #Ï≤¥Ïù∏ÏÜåÎß® #chainsawma...,2022-08-01 16:13:21+00:00,None,Twitter for iPad,https://twitter.com/heodahye2/status/155413822...
0,1554138785063075842,ijizakura,Mitaka Asa https://t.co/Yh7Z1EI4j9,2022-08-01 16:15:35+00:00,None,Twitter Web App,https://twitter.com/ijizakura/status/155413878...
0,1554139179579166720,Silent_Wolfer,RT @ijizakura: Mitaka Asa https://t.co/Yh7Z1EI4j9,2022-08-01 16:17:09+00:00,Arizona,Twitter Web App,https://twitter.com/Silent_Wolfer/status/15541...
0,1554141759105822720,HotapiLove07,RT @escapetheciity: #„ÉÅ„Çß„É≥„ÇΩ„Éº„Éû„É≥ #Ï≤¥Ïù∏ÏÜåÎß® #chainsawma...,2022-08-01 16:27:24+00:00,Â§©„ÅÆÈÇ™È¨º,Twitter Web App,https://twitter.com/HotapiLove07/status/155414...
0,1554141949493293056,IlhamReport,RT @cromwellb_: mitaka asa https://t.co/ES8coF...,2022-08-01 16:28:09+00:00,None,Twitter Web App,https://twitter.com/IlhamReport/status/1554141...

In [427]:
# Query word war devil
query4 = 'wardevil OR "war devil" OR #wardevil -is:retweet -is:quote -is:reply lang:en'
tweets4 = client.search_recent_tweets(query=query4, max_results = 100,
                                    user_fields = ['username', 'location'],
                                    tweet_fields=['created_at', 'source'],
                                    expansions = ['author_id'])

In [428]:
tw_users4 = {tw_user['id']: tw_user for tw_user in tweets4.includes['users']}
wardevil_df = pd.DataFrame()

for tweet in tweets4.data:
    if tw_users4[tweet.author_id]:
        tw_user = tw_users4[tweet.author_id]
    temp_dict = {
        'tweet_id': [tweet.id],
        'username': [tw_user.username],
        'text': [tweet.text],
        'created_at': [tweet.created_at],
        'location': [tw_user.location],
        'source': [tweet.source],
        'url': ["https://twitter.com/"+str(tw_user.username)+"/status/"+str(tweet.id)]
    }
    temp_df = pd.DataFrame(temp_dict)
    wardevil_df = pd.concat([temp_df, wardevil_df])

wardevil_df.shape
wardevil_df.head()

,tweet_id,username,text,created_at,location,source,url
0,1554973166283399170,MVoinnet,RT @leeEuijin6: Wip\nWar Devil (ÎØ∏ÌÉÄÏπ¥ ÏïÑÏÇ¨) https:...,2022-08-03 23:31:07+00:00,None,Twitter for Android,https://twitter.com/MVoinnet/status/1554973166...
0,1554973431342530560,rrrgphoenix,RT @leeEuijin6: Wip\nWar Devil (ÎØ∏ÌÉÄÏπ¥ ÏïÑÏÇ¨) https:...,2022-08-03 23:32:10+00:00,None,Twitter for Android,https://twitter.com/rrrgphoenix/status/1554973...
0,1554973439328493569,PantyhoseGamer,RT @leeEuijin6: Wip\nWar Devil (ÎØ∏ÌÉÄÏπ¥ ÏïÑÏÇ¨) https:...,2022-08-03 23:32:12+00:00,None,TweetDeck,https://twitter.com/PantyhoseGamer/status/1554...
0,1554973735505068033,kingExcalibur17,RT @leeEuijin6: Wip\nWar Devil (ÎØ∏ÌÉÄÏπ¥ ÏïÑÏÇ¨) https:...,2022-08-03 23:33:23+00:00,None,Twitter Web App,https://twitter.com/kingExcalibur17/status/155...
0,1554973902971015169,quintana_diego,RT @leeEuijin6: Wip\nWar Devil (ÎØ∏ÌÉÄÏπ¥ ÏïÑÏÇ¨) https:...,2022-08-03 23:34:03+00:00,venezuela,Twitter Web App,https://twitter.com/quintana_diego/status/1554...

In [429]:
# merged and final dataframe
frames = [mitaka_df, asamitaka_df, mitakaasa_df, wardevil_df]
tw_mitaka_df = pd.concat(frames)
tw_mitaka_df.head()

#tw_mitaka_df = tw_mitaka_df[~tw_mitaka_df.index.duplicated(keep='first')] #Removing dup indices later

,tweet_id,username,text,created_at,location,source,url
0,1554897246264729601,spreenszone,RT @anabeldraws_: Asa Mitaka\n.\n.\n.\n#Mitaka...,2022-08-03 18:29:26+00:00,ar55 eu‚îäs!her,Twitter for Android,https://twitter.com/spreenszone/status/1554897...
0,1554898907553054720,neon_sehd,RT @MatiComics64: THE WAR DEVIL \nAsa Mitaka f...,2022-08-03 18:36:02+00:00,Kobeni's car,Twitter for Android,https://twitter.com/neon_sehd/status/155489890...
0,1554900221426970625,vengelord1000,RT @ArtzAisha: Mitaka #chainsawman #csm #asami...,2022-08-03 18:41:16+00:00,None,Twitter for Android,https://twitter.com/vengelord1000/status/15549...
0,1554901199757144065,holowz,RT @dnbooru: World\n#chainsaw_man\nCharacters\...,2022-08-03 18:45:09+00:00,üåÇ,Twitter Web App,https://twitter.com/holowz/status/155490119975...
0,1554901255360765952,dopeamine_kitty,Something about Dopheld Mitaka. He just looks ...,2022-08-03 18:45:22+00:00,None,Twitter for Android,https://twitter.com/dopeamine_kitty/status/155...

In [430]:
tw_mitaka_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397 entries, 0 to 0
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    397 non-null    int64
 1   username    397 non-null    object
 2   text        397 non-null    object
 3   created_at  397 non-null    datetime64[ns, UTC]
 4   location    247 non-null    object
 5   source      397 non-null    object
 6   url         397 non-null    object
dtypes: datetime64[ns, UTC](1), int64(1), object(5)
memory usage: 24.8+ KB

In [432]:
tw_mitaka_df.to_csv('tw_mitaka.csv', index=False)